/*
 *
 *    [Table of contents]
 *
 *    [&. Content / #key]
 *    [Let press Ctrl + f and type of paste the key, then press Enter to search the content ]
 *
 *    Summary: Widgets
 *
 *    0. General Style
 *    1. About Us
 *    2. Contact Us
 *    3. Category, Taxonomy
 *    4. Material Download
 *    5. Recent Post
 *    6. Gallery
 *    7. WP Archive
 *    8. WP Custom Menu
 *    9. Tag
 *    10. New Tweet
 *    11. Custom Post
 *
 *
 *
 */

/*----------  0. General Style  ----------*/
.slz-widgets .widget-title.logo-title,
.slz-widgets  .title-widget.logo-title {
	border: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.slz-widgets .widget-title.logo-title:before,
.slz-widgets  .title-widget.logo-title:before,
.slz-widgets .widget-title.logo-title:after,
.slz-widgets  .title-widget.logo-title:after {
	content: none;
}

/*----------  1. About Us  ----------*/
.slz-widget-about-us .slz-logo {
	top: auto;
	left: auto;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	position: relative;
	display: inline-block;
}
.slz-widget-about-us .widget-content {
	margin-top: 25px;
}


/*----------  2. Contact Us  ----------*/
.slz-widget-contact-info .item,
.slz-widget-contact-info .item a {
	color: #979ca5;
}
.slz-widget-contact-info .item a:hover {
	color: #c8ac48;
}
.slz-widget-contact-info .item .icons {
	position: relative;
	top: auto;
	left: auto;
}
.slz-widget-contact-info .item .text {
	padding-left: 0;
}
/*----------  3. Category, Taxonomy  ----------*/
.slz-widget-category .widget-content a {
	margin-bottom: 10px;
	position: relative;
	color: #747981;
	padding-top: 0;
	padding-bottom: 10px;
}
.slz-widget-category .widget-content a:hover {
	color: #c8ac48;
}
.slz-widget-category .slz-categories .link > .icons {
	display: inline-block;
	width: 30px;
	font-size: 11px;
	line-height: 1;
	vertical-align: initial;
}
.slz-widget-category .slz-categories .link > .icons:before {
	content: "\f10c";
}
.slz-widget-category .slz-categories .link > .text {
	font-size: 14px;
}
.slz-widget-category .slz-categories .link > .badge {
	font-weight: inherit;
	float: none;
	line-height: 24px;
}
.slz-categories2 .link > .icons {
	width: 30px;
	font-size: 11px;
}
.slz-categories2 .link > .text,
.slz-categories2 .link > .label-right {
	font-size: 14px;
}

.slz-widget-taxonomy .slz-widget-categories .widget-content .link {
	line-height: 24px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 0;
	border-bottom: 1px solid #efefef;
	color: #747981;
}
.slz-widget-taxonomy .slz-widget-categories .widget-content .link:hover {
	color: #c8ac48;
}
.slz-widget-taxonomy .slz-widget-categories .widget-content .link .icons {
	width: 30px;
	font-size: 11px;
	vertical-align: initial;
}
.slz-widget-taxonomy .slz-widget-categories .widget-content .link .icons:before {
	content: '\f10c';
}
.slz-widget-taxonomy .slz-widget-categories .widget-content .link .text {
	font-size: 14px;
}
.slz-widget-taxonomy .slz-widget-categories .widget-content .link .badge {
	float: right;
	font-size: 14px;
	background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
    font-weight: inherit;
    line-height: inherit;
}
.slz-widget-categories2 .link {
	padding: 10px 0;
	border-top: none;
}
.slz-widget-categories2 .link:first-child {
	padding-top: 0;
}
.slz-widget-categories2 .link:hover {
	color: #c8ac48;
}
.slz-widget-categories2 .link > .icons:before {
	content: '\f105';
}
/*----------  4. Material Download  ----------*/
.slz-widget-material-download .widget-content .slz-btn {
    width: 100%;
    max-width: none;
    background-color: #fafafa;
    border: none;
    color: #7a7a7a;
    line-height: 40px;
    padding: 0 30px;
    overflow: hidden;
}
.slz-widget-material-download .widget-content .slz-btn:hover,
.slz-widget-material-download .widget-content .slz-btn:focus {
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}
.slz-widget-material-download .widget-content .slz-btn:before {
	background: #c8ac48;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 0;
    z-index: 2;
    opacity: 1;
    transform: none;
}
.slz-widget-material-download .widget-content .slz-btn:after {
	content: none;
}
.slz-widget-material-download .widget-content .slz-btn:hover:before,
.slz-widget-material-download .widget-content .slz-btn:focus:before {
	height: 100%;
}
.slz-widget-material-download .widget-content .slz-btn:hover .icons,
.slz-widget-material-download .widget-content .slz-btn:focus .icons {
	position: relative;
    top: 0;
    z-index: 3;
    color: #fff;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}
.slz-widget-material-download .widget-content .slz-btn .icons {
	color: #a1a7b0;
    top: -100%;
	transition: top 0.3s ease;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}
.slz-widget-material-download .widget-content .slz-btn .btn-text {
    top: -100%;
	transition: top 0.3s ease;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}
.slz-widget-material-download .widget-content .slz-btn:hover .btn-text,
.slz-widget-material-download .widget-content .slz-btn:focus .btn-text {
    position: relative;
	top: 0;
	z-index: 3;
    color: #fff;
}
.slz-widget-material-download .widget-content .slz-btn .btn-icon {
	display: none;
}
.slz-widget-material-download .widget-content .slz-btn + .slz-btn {
	margin-top: 10px;
	margin-left: 0;
}
/*----------  5. Recent Post  ----------*/
.slz-widget-recent-post .media {
	border-color: #fafafa;
}
.slz-widget-recent-post .media-left {
	padding-right: 0;
}
.slz-widget-recent-post .wrapper-image {
	width: 100px;
	margin-right: 20px;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.slz-widget-recent-post .wrapper-image:before {
	padding-top: 70%;
}
.slz-widget-recent-post .wrapper-image:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transform: rotateY(90deg);
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.slz-widget-recent-post .media:hover .wrapper-image:after {
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}
.slz-widget-recent-post .media-heading {
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	color: #304771;
}
.slz-widget-recent-post .media-heading:hover,
.slz-widget-recent-post .meta-info .link:hover,
.slz-widget-recent-post .meta-info .link:focus {
	color: #c8ac48;
}
.slz-widget-recent-post .meta {
	margin: 0;
}
.slz-widget-recent-post .meta-info {
	font-style: italic;
	margin: 0 8px 5px;
	font-size: 14px;
}
.slz-widget-recent-post .meta-info:before {
	content: none;
}
.slz-widget-recent-post .meta-info + .meta-info {
	position: relative;
}
.slz-widget-recent-post .meta-info + .meta-info:before {
	position: absolute;
	content: '|';
	top: -1px;
	left: -8px;
	font-size: 14px;
}
.slz-widget-recent-post .meta-info:first-child {
	margin-left: 0;
}
.slz-widget-recent-post .meta-info:last-child {
	margin-right: 0;
}
.slz-widget-recent-post .meta-info .link {
	color: #ababab;
	padding-left: 0;
	font-weight: inherit;
}
.slz-widget-recent-post .meta-info.view .link,
.slz-widget-recent-post .meta-info.comment .link {
	padding-left: 5px;
}
.slz-widget-recent-post .link.date:before {
	content: '\f073';
	font-family: 'FontAwesome';
	font-style: normal;
	padding-right: 5px;
	color: #ababab;
}

/*----------  6. Gallery  ----------*/
.slz-widget-gallery .widget-content ul {
	margin-top: -10px;
}
.slz-widget-gallery .widget-content ul li {
	padding: 10px;
	margin: 0;
}
/*----------   7. WP Archive  ----------*/
.slz-widget.widget_archive ul li {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.slz-widget.widget_archive ul li:hover, 
.slz-widget.widget_archive ul li:hover a,
.slz-widget.slz-widget-custom-post ul li:hover a{
	color: #c8ac48;
}

/*----------  8. WP Custom Menu  ----------*/
.slz-widget.widget_nav_menu ul li,
.slz-widget-custom-post li {
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0
}
.slz-widget.widget_nav_menu ul li a {
	margin-bottom: 10px;
    position: relative;
    color: #747981;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    display: block;
    padding-left: 20px;
}
.slz-widget.widget_nav_menu ul li a:hover {
	color: #c8ac48;
}
/*----------  9. Tag  ----------*/
.slz-widget-tags .tag:hover {
    background-color: transparent;
}

/*----------  10. New Tweet  ----------*/
.slz-new-tweet .list-news-tweet .recent-post .post-info .title .left-text .strongtext {
	color: #304771;
}
.slz-new-tweet .list-news-tweet .recent-post .post-info .title .left-text a:hover .strongtext {
	color: #c8ac48;
}
.slz-new-tweet .list-news-tweet .recent-post .post-info .link {
	color: #747981;
}
.slz-new-tweet .list-news-tweet .recent-post .post-info .link:hover {
	color: #c8ac48;
}

/*----------  11. Custom Post  ----------*/
.slz-widget-custom-post ul li a {
	padding-left: 25px;
}


.slz-wrapper-footer .text-c .widget-title:before, 
.slz-wrapper-footer .text-c .title-widget:before,
.slz-wrapper-footer .text-c .widget-title:after, 
.slz-wrapper-footer .text-c .title-widget:after {
	left: 50%;
	transform: translateX(-50%);
}


.slz-wrapper-footer .text-r .widget-title:before, 
.slz-wrapper-footer .text-r .title-widget:before,
.slz-wrapper-footer .text-r .widget-title:after, 
.slz-wrapper-footer .text-r .title-widget:after {
	left: auto;
	right: 0;
}
